.foot {
    /* 字间距 */
    letter-spacing: .05em;
    /* 行高 */
    line-height: 1.7em;
    /* 字体大小 */
    font-size: 1em;
    overflow: hidden;
    
}
.foot-container {
    overflow: hidden;
    background-color: #EEe;
    padding: 2em;
}

/* a hover underline */
.foot a:hover {
    /* color: #fcd; */
    text-decoration: underline;
}

/* footer logo/link */
.footer_logo {
    width: 17%;
    float: left;
    margin-top: -.2em;
}

.infor-link li{
    line-height: 1.8em;

}

/* foot infor */
.footer_info {
    width: 58%;
    float: left;
}

.footer_info li {
    display: inline-block;
}

.footer_info .infor-link li a {
    color: #fff;
}

.infor-link-style,
.update-infor {
    color: #262577;
}

/* foot icon theme */
.footer_icon {
    width: 25%;
    float: left;
}
.footer_icon .footer_theme {
    width: 80%;
}
.footer_icon .footer_theme ul, .footer_icon .footer_theme li{
    display: inline-block;
}
.footer_icon .footer_theme a {
    font-size: .9em;
    display: block;;
    background-color: #fff;
    width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
}
.footer_theme a:hover {
    background-color: #459DF5;
    color: white;
    font-weight: 600;
}