 /* 卡片大小 */
 .card_news{
    float: left;
    margin: 10px 15px 10px 15px;

    width: 240px;
    height: 280px;
    background: #fff;
    border: 1px solid #D7D7D7;
    cursor: pointer;
    overflow: hidden;
}
.card_news_inner{
    width: 100%;
    height: 100%;
    position: relative;
}
/* 卡片图片 */
.card_news_picture_inner{
    width: 100%;
    height: 144px;
    background-image: url(https://d2v9ipibika81v.cloudfront.net/uploads/sites/252/DOS-Seal-Slideshow-750-2-1-1-2-1-750x450.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
/* 卡片图片颜色 */
.card_news_bg_color{
    width: 100%;
    height: 144px;
    position: absolute;
    top: 0;
    /* z-index: 0; */
    background-color: rgba(11, 22, 99, .0);
}
.card_news_bg_color:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
/* 卡片标题 */
.card_news_title{
    display: inline-block;
    padding: 5px 5px 5px 5px;
}
/* 卡片标签 */
.category{
    text-decoration: underline #7F9BB9 dotted;
}
.category:hover{
    text-decoration: underline #0066FF solid;
}
/* 卡片日期 */
.card_news_date{
    display: inline-block;
    color: #8B8992;
    padding: 5px 10px 10px 5px;
}
/* 卡片内容 */
.card_news_entry_summary p{
    padding: 5px;

    color: #858585;
}