/* 卡片 */
.inner {
    float: left;
    margin: 1.7em .8em;
    width: 16em;
    height: 18em;
    background: #fff; 
    border: .1em solid #D7D7D7;
    cursor: pointer;
}

/* 卡片状态 */
.lab-gly-experiment-summary {
    position: relative;
    width: 100%;
}

/* 背景色 */
.logo-mask {
    position: absolute;
    width: 100%;
    height: 9em;
}

/* 背景图 */
.logo-bg {
    position: absolute;
    width: 100%;
    height: 9em;
    background-image: url('../../img/png/card-bg.png');
}

/* logo图 */
.logo-container {
    /* position: absolute; */
    width: 100%;
    height: 9em;
    background-color: rgba(11, 22, 33, .4);
    z-index: 1;
}

.logo {
    background-image: url('../../img/svg/exp-cent-os.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 9em;
    height: 5em;
    /* 提升层级 */
    position: relative;
    left: 3.3em;
    top: 2em;
}

/* 信息 */
.info-container {
    width: 100%;
    height: 8.5em;
}

h3.title {
    padding: 1em 0.3em 0.3em 0.3em;
    font-weight: 500;
    font-size: 1em;
}

p.owner {
    padding: 0.3em;
    font-weight: 300;
}

/* 图标信息位置 */
.desc {
    width: 100%;
    height: 1.87em;
    /* background-color: #baefff; */
    margin: 1.87em 0 6.25em 0;
}

/* 图标单位间位置 */
.desc .desc-item {
    float: left;
    margin: 0.85em 0.85em 0.85em 1em;
}

/* 图标 */
.icon-signal {
    font-size: 0.68em;
    color: #D7D7D7;
}

.icon-persons {
    line-height: 1.13em;
    color: #D7D7D7;
    font-weight: 700;
}

.icon-time1 {
    line-height: 1.25em;
    color: #D7D7D7;
    font-weight: 700;
}

/* 字体 Start */
a{
    text-decoration: none;
    color: #000;
}
.info-container > .title{
    color: #9C47A2;
}
.info-container > .title:hover{
    color: #262577;
}
/* 字体 End */