/* 下载卡片 */
.download_card{
    float: left;
    margin: 10px 25px 87px 25px;
    width: 220px;
    height: 203px;
    /* background-color: #bfa; */
    overflow: hidden;
    border: 1px dotted #D7D7D7;
}
.download_card_inner{
    width: 100%;
    height: 100%;
    position: relative;

}
/* 卡片照片 */
.download_img_inner{
    width: 100%;
    height: 140px;
    /* background-image: url(https://pc3.gtimg.com/softmgr/picture/web/banner/ac4f91ae41cda43113f855d70743e6a3.png); */
    background-repeat: no-repeat;
    background-size: contain;
}
/* 卡片信息背景 */
.download_information{
    background-color: #fff;
}
/* 卡片下载名称 */
.download_name{
    display: inline-block;
    line-height: 20px;
    padding: 5px 0 5px 8px;
    font-size: 14px;

}
/* 卡片时间 */
.download_time{
    display: inline-block;
    line-height: 20px;
    color: #8D9A92;
    padding: 12px 0 5px 90px;
    font-size: 12px;
}
/* 卡片描述 */
.download_description{
    padding: 0 0 12px 8px;
    line-height: 14px;
    color: #8D9A92;
    font-size: 12px;
}
/* 卡片隐藏 */
.download_card span{
    width: 100%;
    line-height: 63px;
    text-align: center;
    background-color: #52ED9A;
    position: absolute;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    top: 140px;
    position: static;
}
.download_card span:hover{
    /* position: absolute; */
}