/* 教程卡片 */
.inner {
    float: left;
    margin: 10px ;
    width: 250px;
    height: 278px;
    background: #fff; 
    border: 1px dotted #D7D7D7;
    cursor: pointer;
}

.inner:hover {
    border: 1px solid blue;
}

/* 卡片状态 */
.lab-gly-experiment-summary {
    position: relative;
    width: 100%;
}

/* 背景色 */
.logo-mask {
    position: absolute;
    width: 100%;
    height: 144px;
}

/* 背景图 */
.logo-bg {
    position: absolute;
    width: 100%;
    height: 144px;
    background-image: url('../../img/png/card-bg.png');
}

/* logo图 */
.logo-container {
    /* position: absolute; */
    width: 100%;
    height: 144px;
    background-color: rgba(11, 22, 33, .4);
    z-index: 1;
}

.logo {
    background-image: url('../../img/svg/exp-cent-os.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 144px;
    height: 80px;
    /* 提升层级 */
    position: relative;
    left: 3.3em;
    top: 2em;
}

/* 信息 */
.info-container {
    width: 100%;
    height: 136px;
}

h3.title { 
    padding: 11px 5px 5px 14px;
    font-weight: 500;
    font-size: 16px;
}

p.owner {
    padding:  5px 0 0 15px;
    font-weight: 300;
}

/* 图标信息位置 */
.desc {
    width: 100%;
    height: 30px;
    /* background-color: #baefff; */
    margin: 30px 0 100px 0;
}

/* 图标单位间位置 */
.desc .desc-item {
    float: left;
    margin: 8px 20px 0px 20px;
}

/* 图标 */
.icon-signal {
    font-size: 11px;
    color: #D7D7D7;
}

.icon-persons {
    line-height: 18px;
    color: #D7D7D7;
    font-weight: 700;
}

.icon-time1 {
    line-height: 20px;
    color: #D7D7D7;
    font-weight: 700;
}

/* 字体 Start */
a{
    text-decoration: none;
    color: #000;
}
.info-container > .title{
    color: #9C47A2;
}
.info-container > .title:hover{
    color: #262577;
}
/* 字体 End */