body,
        html {
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "微软雅黑";
        }

        /* 显示按钮样式 */
        ul li,
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .btn-wrap {
            z-index: 999;
            width: 100%;
            position: fixed;
            top: 0px;
            border-radius: 5px;
            background-color: rgba(265, 265, 265, 0.9);
            box-shadow: 0 2px 6px 0 rgba(27, 142, 236, 0.5);
        }

        .btn {
            width: 100px;
            height: 30px;
            float: left;
            background-color: #fff;
            color: rgba(27, 142, 236, 1);
            font-size: 14px;
            border: 1px solid rgba(27, 142, 236, 1);
            border-radius: 5px;
            margin: 5px;
            text-align: center;
            line-height: 30px;
        }

        .btn:hover {
            background-color: rgba(27, 142, 236, 0.8);
            color: #fff;
            cursor: pointer;
        }

        .function_disp_w_d {
            color: red;
        }

        /* 地点描述 */
        #descript_position {
            overflow: hidden;
            height: 0%;
            width: 100%;
            background-color: #bfa;
        }

        /* 地点汇总*/
        #sum_position {
            height: 5%;
            width: 100%;
            text-align: center;
            cursor: pointer;
            background-color: #f7dec3;
            /* background-color: #FFECBA; */
            /* background-color: #AEDCFC; */
            /* background-color: #fcd; */
            /* cursor: progress; */
            /* cursor: s-resize; */
        }

        #sum_position_center {
            text-align: center;
            line-height: 2.3em;
        }
        #sum_position_center_words:hover {
            color: #009F72;
            /* text-decoration: dotted; */
            /* text-decoration: underline; */
            /* cursor: crosshair; */
            cursor: url(../img/user/cur888.png) 4 12, auto;
        }