#container {
    width: 100%;
    /* height: 77%; */
    height: 95%;
}

/* 地图尾部标注 */
.BMap_cpyCtrl span {
    display: none !important;
}

.anchorBL img {
    display: none;
}

/* 调整比例尺位置 */
.BMap_scaleCtrl.BMap_noprint.anchorBL {
    left: 20px !important;
}
